@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.topbar {
  z-index: 1000 !important; /* Ensure the Top Bar stays on top */
}

nav {
  background-color: #fecc01 !important; /* Ensure the background color is not overridden */
}
